@use './src/styles/utils/variables';
@use './src/styles/utils/mixins';

.button {
  background: linear-gradient(180deg, #FFB45C 0%, #FFA438 100%);
  border: none;
  border-radius: 1rem;
  padding: 1.3rem 0 1.4rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &:focus {
    @include mixins.button-pressed();
  }

  &:active {
    @include mixins.button-active();
  }

  .button-icon {
    height: 2.3rem;
    width: auto;
    color: variables.$main-bg;
    margin-right: 1.4rem;
  }

  .button-text {
    @include mixins.choose-button();
    position: relative;
  }

  & + .button {
    margin-top: 1.4rem;
  }

  &[type='submit'] {
    margin: 1.6rem 0 1rem;


    &[disabled] {
      background: variables.$default-input-bg;

      .button-text {
        letter-spacing: 0.02em;
      }
    }
  }
}