@use './src/styles/utils/variables';
@use './src/styles/utils/mixins';
//@use './src/styles/utils/functions';

@mixin button-pressed {
  background: #E3983F;
}

@mixin button-active {
  background: #C4C4C4;
  box-shadow: 0px 2px 8px rgba(230, 233, 238, 0.55);
}

.button {
  background: linear-gradient(180deg, #FFB45C 0%, #FFA438 100%);
  border: none;
  border-radius: 10px;
  padding: 10px 0 11px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &:focus {
    @include button-pressed;
  }

  &:active {
    @include button-active;
  }

  .button-icon {
    height: 23px;
    width: auto;
    color: variables.$main-bg;
    margin-right: 14px;
  }

  .button-text {
    font: normal 500 16px/23px variables.$jost;
    color: variables.$main-bg;
    letter-spacing: 0.02em;
    position: relative;
    top: 1px;
  }

  & + .button {
    margin-top: 14px;
  }
}