@use './src/styles/utils/variables';
@use './src/styles/utils/mixins';

.quiz-page {

  .headline {
    height: 32.7vh;
  }

  h2 {
    margin: 0 0 1.6rem;
    padding: 0 2.4rem;
    @include mixins.subtitle();
  }

  section {
    position: absolute;
    top: 29vh;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    overflow: hidden;
  }

  .text {
    margin-top: 10.4vh;
  }
}

