@use './src/styles/utils/variables';
@use './src/styles/utils/mixins';

.registration-page {
  .headline {
    height: 32.7vh;
    margin-bottom: -9vh;
  }

  section {
    &.title {
      margin: 0 0 1vh;
    }

    &.register-form {
      padding: 0 24px;
    }
  }

  h1 {
    font: normal 700 18px/26px variables.$jost;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$white;
    margin: 0 0 4px;
  }
}

