@use '../../../styles/utils/variables';
@use '../../../styles/utils/mixins';
@use '../../../styles/utils/functions';

@mixin focus {
  color: variables.$main-bg;
  background: variables.$light-gray;
  border-color: #FFB45C;
  opacity: 1;
}

@mixin hover {
  background: variables.$white;
  border-color: rgba(170, 178, 189, 0.5);
}

@mixin correct {
  color: variables.$main-bg;
  border-color: variables.$correct-input-color;
  background: variables.$correct-input-bg;

  @include mixins.input-box-shadow();
}

@mixin error {
  color: variables.$main-bg;
  border-color: variables.$error-input-color;
  margin-bottom: 0;
  background: variables.$error-input-bg;

  @include mixins.input-box-shadow();
}

.input-password {

  label {
    @include mixins.input-text-label();
  }

  input {
    @include mixins.input();

    &::placeholder {
      color: variables.$placeholder;
    }

    &:focus {
      @include focus();
    }

    &.correct {
      @include correct();

      &:focus {
        @include focus();
      }
    }

    &.incorrect {
      @include error();
    }

    &:hover {
      @include hover();
    }
  }

  .tip {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    top: 3.1rem;
    right: 1.5rem;
    position: absolute;
    z-index: 5;
    background: transparent url("hide_icon.svg") center/2.4rem no-repeat;
    transition: transform 0.2s ease;

    &.show {
      transform: rotate(180deg);
    }
  }
}