@use '../../../styles/utils/variables';
@use '../../../styles/utils/mixins';

@mixin focus {
  color: variables.$main-bg;
  background: variables.$light-gray;
  border: 0.1rem solid #FFB45C;
  opacity: 1;
}

@mixin hover {
  background: variables.$white;
  border: 0.1rem solid rgba(170, 178, 189, 0.5);
}

@mixin correct {
  color: variables.$main-bg;
  border: 0.1rem solid variables.$correct-input-color;
  background: variables.$correct-input-bg;

  @include mixins.input-box-shadow();
}

@mixin error {
  color: variables.$main-bg;
  border: 0.1rem solid variables.$error-input-color;
  margin-bottom: 0;
  background: variables.$error-input-bg;

  @include mixins.input-box-shadow();
}

label {
  display: flex;
  gap: 0.6rem;
  box-sizing: border-box;

  span {
    @include mixins.label();

    &.error {
      font: normal 400 1.2rem/1.16 variables.$roboto;
      color: variables.$error-input-color;
    }
  }
}

.input-password {

  label {
    flex-direction: column;
    position: relative;
  }

  input {
    font: normal 400 1.4rem/1.14 variables.$roboto;
    display: flex;
    align-items: center;
    background: variables.$default-input-bg;
    color: variables.$main-bg;
    border: 0.1rem solid rgba(170, 178, 189, 0.5);
    box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(208, 210, 217, 0.5);
    border-radius: 1rem;
    padding: 1.3rem 1.6rem 1.4rem;
    margin-bottom: 0.8rem;
    outline: 0;

    &::placeholder {
      color: variables.$placeholder;
    }

    &:focus {
      @include focus();
    }

    &.correct {
      @include correct();

      &:focus {
        @include focus();
      }
    }

    &.incorrect {
      @include error();
    }

    &:hover {
      @include hover();
    }
  }

  .tip {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    top: 3.1rem;
    right: 1.5rem;
    position: absolute;
    z-index: 5;
    background: transparent url("hide_icon.svg") center/2.4rem no-repeat;
    transition: transform 0.2s ease;

    &.show {
      transform: rotate(180deg);
    }
  }
}