@use './src/styles/utils/variables';
@use './src/styles/utils/functions';

@mixin title {
  //font: normal 700 1.8rem/1.44 variables.$jost;
  font: normal 700 2.1rem/1.44 variables.$jost;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: variables.$white;

  @media (max-height: 48rem) {
    font-size: 3.2vh;
  }
}

@mixin subtitle {
  font: normal 700 1.6rem/1.19 variables.$roboto;
  color: variables.$white;
  text-align: center;

  @media (max-width: 48rem) {
    font-size: 2.8vh;
  }
}

@mixin text {
  font: normal 400 1.4rem/1.14 variables.$roboto;
  color: variables.$small-text;

  @media (max-width: 48rem) {
    font-size: 2.5vh;
  }
}

@mixin button {
  font: normal 500 1.6rem/1.43 variables.$jost;
  letter-spacing: 0.02em;
  color: variables.$black;

  @media (max-width: 48rem) {
    font-size: 2.8vh;
  }
}

@mixin choose-button {
  font: normal 500 1.4rem/1.14 variables.$roboto;
  color: variables.$black;

  @media (max-width: 48rem) {
    font-size: 2.5vh;
  }
}

@mixin button-pressed {
  background: #E3983F;
}

@mixin button-active {
  background: #C4C4C4;
  box-shadow: 0rem 0.2rem 0.8rem rgba(230, 233, 238, 0.55);
}

@mixin label {
  font: normal 700 1.4rem/1.14 variables.$roboto;
  color: variables.$white;

  /*used for form*/
  //@media (max-width: 48rem) {
  //  font-size: 2.5vh;
  //}
}

@mixin error {
  font: normal 400 1.2rem/1.33 variables.$roboto;
  color: variables.$error-input-color;

  /*used for form*/
  //@media (max-width: 48rem) {
  //  font-size: 2.1vh;
  //}
}

/* effects */
@mixin input-box-shadow {
  box-shadow: inset 0.1rem 0.1rem 0.6rem rgba(36, 37, 48, 0.5);
}

@mixin button-shadow {
  box-shadow: 0rem 0.2rem 0.8rem rgba(230, 233, 238, 0.55);
}

@mixin drop-shadow {
  box-shadow: 0rem 0.2rem 0.8rem rgba(151, 151, 151, 0.25);
}