@use './src/styles/utils/variables';
/* identical to box height */

@mixin title {
  font: normal 700 18px/26px variables.$jost;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
  color: variables.$white;
}

.subtitle {
  font: normal 700 16px/19px variables.$roboto;
  color: variables.$white;
  text-align: center;
}

label {
  font: normal 700 14px/16px variables.$roboto;
  color: variables.$black;
}

.text {
  font: normal 400 14px/16px variables.$roboto;
  color: variables.$black;
}

.button {
  font: normal 500 16px/23px variables.$jost;
  letter-spacing: 0.02em;
  color: variables.$black;
}

.choose-button {
  font: normal 500 14px/16px variables.$roboto;
  color: variables.$black;
}

.error {
  font: normal 400 12px/16px variables.$roboto;
  color: variables.$black;
}