@use '../../../styles/utils/variables';
@use '../../../styles/utils/mixins';

@mixin focus {
  color: variables.$main-bg;
  background: variables.$light-gray;
  border: 1px solid #FFB45C;
  opacity: 1;
}

@mixin hover {
  background: variables.$white;
  border: 1px solid rgba(170, 178, 189, 0.5);
}

@mixin correct {
  color: variables.$main-bg;
  background: variables.$correct-input-bg url("correct-icon.svg") calc(100% - 15px) 10px/ 24px no-repeat;
  border: 1px solid variables.$correct-input-color;

  @include mixins.input-box-shadow();
}

@mixin error {
  color: variables.$main-bg;
  background: variables.$error-input-bg url("incorrect-icon.svg") calc(100% - 15px) 10px/ 24px no-repeat;
  border: 1px solid variables.$error-input-color;
  margin-bottom: 0;

  @include mixins.input-box-shadow();
}

label {
  display: flex;
  gap: 6px;
  box-sizing: border-box;

  span {
    @include mixins.label();

    &.error {
      font: normal 400 1.2rem/1.16 variables.$roboto;
      color: variables.$error-input-color;
    }
  }
}

.input-text {

  label {
    flex-direction: column;
    position: relative;
  }

  input {
    font: normal 400 1.4rem/1.14 variables.$roboto;
    display: flex;
    align-items: center;
    background: variables.$default-input-bg;
    color: variables.$main-bg;
    border: 1px solid rgba(170, 178, 189, 0.5);
    box-shadow: inset 1px 1px 5px rgba(208, 210, 217, 0.5);
    border-radius: 10px;
    padding: 14px 16px;
    margin-bottom: 8px;
    outline: 0;

    &::placeholder {
      color: variables.$placeholder;
    }

    &:focus {
      @include focus();
    }

    &.correct {
      @include correct();

      &:focus {
        @include focus();
      }
    }

    &.incorrect {
      @include error();
    }

    &:hover {
      @include hover();
    }

    &[name="password"] {
      &.correct {
        background: variables.$correct-input-bg;
      }

      &.incorrect {
        background: variables.$error-input-bg;
      }
    }
  }

  .tip {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    top: 33px;
    right: 15px;
    position: absolute;
    z-index: 5;
    background: transparent url("hide_icon.svg") center/24px no-repeat;
    transition: transform 0.2s ease;

    &.show {
      transform: rotate(180deg);
    }
  }
}

.checkbox-item {
  label {
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  input.icon-checkbox {
    width: 13px;
    height: 13px;
    background: transparent;
    margin: 0;
    padding: 0;
    visibility: hidden;
    position: relative;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border: 1px solid #656D78;
      border-radius: 2px;
      background: #242530;
      z-index: 1;
      visibility: visible;
      box-sizing: border-box;
    }

    &:checked::after {
      background: #242530 url("checked-icon.svg") center / 9px no-repeat;
    }

    &:hover {
      cursor: pointer;
    }
  }

  span {
    font: normal 400 0.9rem/1.33 variables.$sans;
    color: variables.$gray
  }
}





