@use './src/styles/utils/variables';

h1 {
  font: normal 700 18px/26px variables.$jost;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: variables.$white;
}

.container {
  display: flex;

  &.column {
    flex-direction: column;
    gap: 12px;
  }
}