@use './src/styles/utils/variables';
@use './src/styles/utils/mixins';

.welcome-page {
  .headline {
    height: 54vh;
    margin-bottom: -9vh;
  }

  section {
    &.title {
      margin: 0 0 1vh
    }

    &.posts {
      margin: 5.6vh 0 0;
    }
  }

  h1 {
    font: normal 700 18px/26px variables.$jost;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: variables.$white;
    margin: 0;
  }
}



.container {
  display: flex;

  &.column {
    flex-direction: column;
    gap: 12px;
  }
}


//320px - 295 + 11 = 306
//
//
//569
//
//   52 / 2  36 -> 6