@use './src/styles/utils/variables';
@use './src/styles/utils/mixins';

h1 {
  font: normal 700 18px/26px variables.$jost;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: variables.$white;
  margin: 0;
}

.headline {
  width: 100vw;
  height: 295px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}

.container {
  display: flex;

  &.column {
    flex-direction: column;
    gap: 12px;
  }
}