.question {

  &[data-question-index="0"] {
    button {
      transform: translateX(0);
      opacity: 1;
    }
  }

  button {
    transition: all 0.5s linear;
    transform: translateX(-100%);
    opacity: 0;
  }

  &.question-done-enter {
    @for $i from 1 through 4 {
      button:nth-child(#{$i}) {
        transition: all 0.5s ease-out;
        transition-delay: 0.2s * $i;
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}