.questions .question,
.questions .question.exit-done,
.questions .question.exit-done:first-child{
  display: none;
}

.questions .question:first-child,
.questions .question.enter-done {
  display: block;
}

.questions .question.active,
.questions .question.exit {
  display: block;
}

//h2 {
//  transition: all 0.5s linear;
//}

.questions .question {
  h2 {
    opacity: 0;
    transition: all 2s;
    transform: translateX(120vw);
  }

  &.active {
    //h2 {
    //  transition: all 1s;
    //}
  }

  &.enter-active {
    h2 {
      opacity: 0.5;
    }
  }

  &.enter-done {
    h2 {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .exit {
    h2 {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &.exit-active {
    h2 {
      opacity: 0.5;
      transform: translateX(120vw);
    }
  }

  &.exit-done {
    h2 {
      opacity: 0;
    }
  }
}

//.questions .question button {
//  opacity: 1;
//  transition: all 0.5s linear;
//}
//
//.questions .question.exit-active .question{
//  transform: translateX(100vw);
//  opacity: 0;
//  display: block;
//}
//
//.questions  .question.enter-active .question{
//  transform: translateX(-100vw);
//  opacity: 0;
//  display: block;
//}
//
//.questions  .question.enter-done .question {
//  display: block;
//}
//
//.question .button:first-child {
//
//}
//
//.question .button:nth-child(1) {
//
//}
//
//.question .button:nth-child(2) {
//
//}
//
//.question .button:last-child {
//
//}