@use './src/styles/utils/variables';
@use './src/styles/utils/functions';

.post {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;
  background: #2F303E;
  box-shadow: 3px 3px 12px #242530;
  border-radius: 10px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  gap: 10px;
}

.users-avatars {
  display: flex;
}

.users-avatar-item {
  width: 34px;
  height: 34px;
  //border: 2px solid #2F303E;
  border-radius: 50%;
  box-sizing: border-box;
}

.users-avatar-item:last-child {
  position: relative;
  margin-left: -8px;
}

.users-names {
  /*check font size*/
  font: normal 500 12px/1.17 variables.$roboto;
  color: variables.$white;
  margin-bottom: 3px;
}

.publish-date {
  font: normal 400 12px/1.17 variables.$roboto;
  color: variables.$gray;
}

.post-body {

  .post-text {
    font-family: variables.$roboto;
    font-style: normal;
    font: normal 400 14px/1.36 variables.$roboto;
    //font-size: functions.calcFluidFontSize(10, 16, 320, 480);
    //font: italic 400 14px/19px variables.$roboto;
    color: variables.$gray;
    margin: 0;
  }
}


