@import '../../styles/utils/_variables.scss';

.post {
  background: #2F303E;
  box-shadow: 3px 3px 12px #242530;
  border-radius: 10px;
  padding: 20px;
}

.post-header {

}

.users-avatars {

}

.users-avatar-item {
  position: absolute;
  width: 32px;
  height: 32px;
  border: 2px solid #2F303E;
}

.users-avatar-item:last-child {
  left: 29px;
  top: 0px;
}

.users-names {
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.publish-date {
  font-family: 'Roboto', sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $gray;
}

.post-body {
}

.post-text {
  color: $white;
}
