@use './src/styles/utils/variables';
@use './src/styles/utils/functions';

.post {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 2rem;
  background-color: #2F303E;
  box-shadow: .3rem .3rem 1.2rem #242530;
  border-radius: 1rem;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  transform: translateY(0);
  transition: 1s all linear;

  &::after {
    content: '';
    width: 6.7rem;
    height: 4.6rem;
    position: absolute;
    top: 1rem;
    right: -0.7rem;
    background-image: url("./post-bg-icon.svg");
    background-position: left center;
    background-size: 3.1rem 100%;
    background-repeat: space;
  }

  &.init {
    transform: translateY(50vh);
  }

  &.loaded {
    transform: translateY(0);
  }
}

.post-header {
  display: flex;
  gap: 1rem;
}

.users-avatars {
  display: flex;
}

.users-avatar-item {
  width: functions.calcFluidSize(3.2, 5.6, 32, 48, rem);
  height: functions.calcFluidSize(3.2, 5.6, 32, 48, rem);
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: 481px) {
    width: 3.2rem;
    height: 3.2rem;
  }
}

.users-avatar-item:last-child {
  position: relative;
  margin-left: -0.8rem;
}

.users-names {
  font: normal 500 functions.calcFluidSize(1.2, 1.5, 32, 48, rem)/1.17 variables.$roboto;
  color: variables.$white;
  margin-bottom: 0.5vh;

  @media (min-width: 481px) {
    font: normal 500 1.2rem/1.17 variables.$roboto;
    margin-bottom: 0.3rem;
  }
}

.publish-date {
  font: normal 400 functions.calcFluidSize(1.2, 1.5, 32, 48, rem)/1.17 variables.$roboto;
  color: variables.$gray;

  @media (min-width: 481px) {
    font: normal 400 1.2rem/1.17 variables.$roboto;
  }
}

.post-body {

  .post-text {
    font: normal 400 functions.calcFluidSize(1.4, 1.75, 32, 48, rem)/1.36 variables.$roboto;
    color: variables.$gray;
    margin: 0;
    transition: all 0.5s ease;

    @media (min-width: 48rem) {
      font: normal 400 1.4rem/1.36 variables.$roboto;
    }
  }

  .read-more-toggle {
    font: normal 400 functions.calcFluidSize(1.4, 1.75, 32, 48, rem)/1.36 variables.$roboto;
    color: variables.$orange;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 0.5rem;

    @media (min-width: 481px) {
      font: normal 400 1.4rem/1.36 variables.$roboto;
    }
  }
}
