.App {
  text-align: center;
  width: 100vw;
}

#root {
  height: 100%;
  display: block;
}

#root > div {
  display: grid;
  height: 100%;
}

/*#root > div {*/
/*  display: grid;*/
/*  height: 100%;*/
/*  align-content: space-between;*/
/*}*/