.App {
  text-align: center;
  width: 100vw;
}

#root {
  height: 100%;
  display: block;
}

/*#root > div {*/
/*  display: grid;*/
/*  height: 100%;*/
/*}*/

.layout {
  display: grid;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}


/*#root > div {*/
/*  display: grid;*/
/*  height: 100%;*/
/*  align-content: space-between;*/
/*}*/